@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --foreground: #000;
  --background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

/* Custom container override */
.container {
  width: 100%;
  max-width: 1440px !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
